body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c3541;
  font-size: calc(14px + 2vmin);
  color: #fff;
}

.home {
  max-width: 1520px;
  margin: auto;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.sideBar {
  width: 11rem;
  height: 82.5vh;
  position: fixed;
  left: 0;
  top: 4.5rem;
  z-index: 99;
  background-color: #29262b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 0% 7% 7% 0%;
}

.sidebarText {
  padding: 0.3rem 0rem;
  text-decoration: none;
  color: #fff;
}

.sideBarTopMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-top: 0.5rem;
}

.sideBarBottomMenu {
  width: 70%;
}

.sideBarIconsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.sideBarIconsBorder {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}

.cursorPointer {
  cursor: pointer;
}

.navBar {
  max-width: 1520px;
  width: 100%;
  height: 3.5rem;
  margin: auto;
  top: 0;
  z-index: 99;
  background-color: #29262b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 107px;
}

.imageLogo {
  height: 2.9rem;
  width: auto;
}

.imageMenu {
  height: 1.9rem;
  width: auto;
  padding-left: 0.7rem;
}

.imageIGLogo {
  height: 2.8rem;
  width: auto;
}

.imageShoppingCart {
  height: 2.5rem;
  width: auto;
  padding-right: 0.7rem;
}

.imageProduct {
  width: 14rem;
  height: auto;
  border-radius: 4%;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  text-decoration: none;
}

.productContainer:hover {
  background-color: #e3a2ee;
  border-radius: 4%;
}

.categortyTitle {
  align-self: flex-start;
  padding-left: 1.3rem;
  padding-bottom: 4rem;
  font-weight: bold;
}

.productsListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.productDetailedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
}

.imageProductDetailed {
  width: 25rem;
  height: auto;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.categoryProductTitle {
  font-size: calc(10px + 2vmin);
  color: #ac5fdb;
  font-weight: bold;
}

.nameProductTitle {
  font-size: calc(22px + 2vmin);
  font-weight: bold;
}

.fontWeightBold {
  font-weight: bold;
}

.fontWeightNormal {
  font-weight: normal;
}

.imageArithmetic {
  width: 1.5rem;
  height: auto;
  padding: 0rem 0.7rem;
  cursor: pointer;
}

.imageArithmeticContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageClose {
  width: 2.1rem;
  height: auto;
  align-self: flex-end;
  cursor: pointer;
  padding: 0.7rem;
}

.imageTrash {
  height: 2.2rem;
  width: auto;
  padding-right: 1rem;
  cursor: pointer;
}

.imageTrash2 {
  height: 1.5rem;
  width: auto;
  padding-left: 1rem;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ac5fdb;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1.5px solid #ac5fdb;
  padding: 0.375rem 0.75rem;
  margin: 0.2rem 0.1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 1.5rem;
  align-self: center;
}

.button:hover {
  color: #3c3541;
  background-color: #ac5fdb;
  border-color: #ac5fdb;
  font-weight: bold;
}

.shopButtonWidth {
  width: 10rem;
}

.modalButtonWidth {
  width: 15rem;
}

.modal {
  border: 5px solid #ac5fdb;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #3c3541;
  position: fixed;
  top: 25%;
}

.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.messageModal {
  width: 80%;
}

.shoppingListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 95%;
  padding-bottom: 1.5rem;
}

.shoppingTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.orderSummaryContainer {
  width: 95%;
  padding-bottom: 2.3rem;
}

.subTitleOrderSummary {
  padding-left: 1rem;
  font-weight: bold;
}

.itemsOrderSummaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.itemShoppingContainer {
  border-bottom: 1.5px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemDetailsOnCart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageItemOnCart {
  height: 3.7rem;
  width: auto;
  padding-bottom: 0.6rem;
  padding-right: 1rem;
}

.textQtyInCart {
  width: 1.7rem;
  text-align: center;
}

.checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
}

.carouselImageContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselActiveImage {
  width: 90%;
  height: auto;
  z-index: 10;
  position: fixed;
  border-radius: 4%;
  left: 5%;
  top: 20%;
}

.carouselLeftImage {
  width: 80%;
  height: auto;
  z-index: 5;
  position: fixed;
  border-radius: 4%;
  left: 10%;
  top: 10%;
  opacity: 0.4;
}

.carouselRightImage {
  width: 80%;
  height: auto;
  z-index: 5;
  position: fixed;
  border-radius: 4%;
  right: 10%;
  top: 35%;
  opacity: 0.4;
}

.arrowsImageSize {
  height: 2rem;
  width: auto;
}

.hideElement {
  display: none;
}

.playPauseImage {
  position: fixed;
  top: 11%;
  right: 2.2%;
  height: 1.5rem;
  cursor: pointer;
}

.positionLeftArrow {
  position: fixed;
  top: 65%;
  left: 10%;
}

.positionRightArrow {
  position: fixed;
  top: 65%;
  right: 10%;
}

.disabledLink {
  pointer-events: none;
}

.slideIn {
  -webkit-animation: slideIn 0.7s ease-out both normal;
  animation: slideIn 0.7s ease-out both normal;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slideOut {
  -webkit-animation: slideOut 0.7s ease-out both reverse;
  animation: slideOut 0.7s ease-out both reverse;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  body {
    font-size: calc(7px + 2vmin);
  }

  .home {
    height: 90vh;
  }

  .sideBar {
    height: 90vh;
    width: 13rem;
  }

  .imageIGLogo {
    height: 3rem;
  }

  .sideBarBottomMenu {
    width: 55%;
  }

  .productDetailedContainer {
    flex-direction: row;
  }

  .categoryProductTitle {
    font-size: calc(5px + 2vmin) !important;
  }

  .nameProductTitle {
    font-size: calc(18px + 2vmin) !important;
  }

  .modal {
    width: 35rem;
  }

  .imageTrash {
    padding-right: 5rem;
    height: 2.5rem;
  }

  .imageTrash2 {
    height: 1.9rem;
  }

  .categortyTitle {
    padding-left: 7.2rem;
  }

  .orderSummaryContainer {
    width: 90%;
  }

  .shoppingListContainer {
    width: 90%;
    padding-left: 8rem;
    padding-right: 5rem;
  }

  .checkoutContainer {
    width: 90%;
  }

  .itemsOrderSummaryContainer {
    padding-left: 3rem;
  }

  .subTitleOrderSummary {
    padding-left: 3rem;
  }

  .imageItemOnCart {
    height: 5rem;
    width: auto;
    padding-bottom: 0.6rem;
    padding-right: 1rem;
  }

  .carouselActiveImage {
    width: 36%;
    left: 32%;
    top: 11%;
  }

  .carouselLeftImage {
    width: 32%;
    left: 17%;
    top: 15%;
  }

  .carouselRightImage {
    width: 32%;
    right: 17%;
    top: 15%;
  }

  .arrowsImageSize {
    height: 4rem;
  }

  .positionLeftArrow {
    top: 35%;
    left: 12%;
  }

  .positionRightArrow {
    top: 35%;
    right: 12%;
  }

  .playPauseImage {
    top: 13%;
    right: 13%;
    height: 1.7rem;
  }
}
